
  footer {
    background-color: #8d1111 !important; /* Dark red */
    color: #ffffff !important;
    padding: 1px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #080d55e0 !important; /* Blue */
    color: #fff;
    padding: 1px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}